<div class="container-formularios-simples">
  <div class="form-swapit-up">
    <h1 class="title">sign up</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs ">
        <%= f.input :photo, :label => "photo",as: :file %>

        <%= f.input :email,:label => "email",
                      placeholder: 'alan@turing.com',
                      required: true,
                      autofocus: true,

                      input_html: { autocomplete: "email" }%>
        <%= f.input :name,:label => "name",
                      placeholder: 'Alan Turing',
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name" }%>

        <%= f.input :address, :label => "address",
                      input_html: { data: { geocoder_target: "address" }, class: "d-none", id: "search-item" },
                      wrapper_html: { data: { controller: "geocoder",
                      geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>

        <%= f.input :password,:label => "password",
                      required: true,
                      placeholder: 'min of 6 characters',
                      input_html: { autocomplete: "new-password" } %>

        <%= f.input :password_confirmation,:label => "password confirmation",
                      required: true,
                      placeholder: 'password confirmation',
                      input_html: { autocomplete: "new-password" } %>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "sign up" , class: "button-04"%>
      </div>
    <% end %>
    <%= link_to "do you mean to sign in?", new_session_path(resource_name), class: "button-detail"%>
  </div>
</div>
