<div class="container-formularios-duplo-form">

  <div class="container-formularios-simples-3">
      <div class="form-swapit-2">
        <h1 class="title">sign up</h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <%= f.input :photo, :label => "photo (optional)", as: :file %>

        <%= f.input :email,
                    :label => "email",
                    placeholder: 'your email here',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>

        <%= f.input :password,
                    :label => "password",
                    required: true,
                    placeholder: 'min. of 6 characters',
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-swapit-2b">
          <%= f.input :name,
                    :label => "name",
                    placeholder: 'full name',
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" }%>

        <%= f.input :address,
                    :label => "address",
                    input_html: { data: { geocoder_target: "address" }, class: "d-none", id: "search-item" },
                    wrapper_html: { data: { controller: "geocoder",
                    geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>

        <%= f.input :password_confirmation,
                    :label => "password confirmation",
                    required: true,
                    placeholder: 'password confirmation',
                    input_html: { autocomplete: "new-password" } %>
      </div>
    </div>

    <div class="container-botao">
      <%= f.button :submit, "sign up", class: "button-04"%>
      <% end %>

      <%= link_to "do you mean to sign in?", new_session_path(resource_name), data: { turbolinks: false }, class: "button-detail"%>

    </div>

  </div>
</div>
