<div class="d-flex justify-content-center align-items-center">
  <div class="form-swapit">
    <h1>edit stuff</h1>

    <%= simple_form_for(@stuff) do |f| %>

      <div class="form-inputs">
        <%= f.input :photos, :label => "photos",as: :file, input_html: { multiple: true } %>
        <%= f.input :name,:label => "name",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" }%>
        <%= f.input :description,:label => "description",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "description" }%>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "save changes" %>
      </div>
    <% end %>


    <%= link_to 'delete this stuff', stuff_path(@stuff), method: 'DELETE', data: { confirm: "are you sure?" } %>
    <br>
    <%= link_to 'home', root_path%>
    <br>
    <%= link_to 'edit user', edit_user_registration_path%>
    <br>
    <%= link_to "back", :back %>
  </div>
</div>
