<h1>EDIT STUFF</h1>

<%= simple_form_for(@stuff) do |f| %>

  <div class="form-inputs">
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
    <%= f.input :description,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "description" }%>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save Your Changes" %>
  </div>
<% end %>


<%= link_to 'Delete this Stuff', stuff_path(@stuff), method: 'DELETE', data: { confirm: "are you sure?" } %>
<br>
<%= link_to 'Go Home', root_path%>
<br>
<%= link_to 'Edit User', edit_user_registration_path%>
<br>
<%= link_to "Back", :back %>
