<div class="container-formularios-simples">
  <div class="form-swapit">
    <h1 class="title">add stuff</h1>

    <%= simple_form_for(@stuff) do |f| %>

      <div class="form-inputs">
        <%= f.input :photos,  :label => "photos", as: :file, input_html: { multiple: true }%>
        <%= f.input :name, :label => "name",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" }%>
        <%= f.input :description, :label => "description",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "description" }%>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "save new stuff", class: "button-04"%>
      </div>
    <% end %>
  </div>
</div>
