<div class="container-main">

  <div class="container-see-my-stuff">
   <% @stuff.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill, class: "my-see-stuff" %>
    <%end%>
  </div>

    <div class="container-my-description">
      <div>
        <p class="their-title">available since</p>
        <p class="their-description"><%=@stuff.created_at.to_date.strftime("%d/%m/%Y")%></p>
      </div>
      <div>
        <p class="their-title">what is it?</p>
        <p class="their-description"><%=@stuff.name.capitalize%></p>
      </div>
      <div>
        <p class="their-title">details</p>
        <p class="their-description"><%=@stuff.description.capitalize%></p>
      </div>
      <div class="botoes">
        <%= link_to 'edit', edit_stuff_path, class:"botoes-verdes"%>

        <%if @stuff.active%>
          <%= link_to "disable this stuff", stuff_path(@stuff, stuff: { active: false }), class: "botoes-marrons", method: :patch %>
        <%else%>
          <%= link_to "enable this stuff", stuff_path(@stuff, stuff: { active: true }), class: "botoes-marrons", method: :patch %>
        <%end%>


        <%= link_to 'see active stuff', stuffs_path, class:"botoes-all_my_stuff"%>
        <%= link_to 'share', "https://trex-runner.com/", target: "_blank", class:"botoes-azuis"%>
      </div>
    </div>

</div>
