<div class="container-index-chats">
    <% @chatrooms.each do |chatroom| %>
  <div class="o-match">
    <div class="what-mine">
      <%# <h2 class="mine"> yours</h2> %>
    <%=link_to chatroom_path(chatroom) do %>
      <%= cl_image_tag(chatroom.stuff.photos.first.key, :width=>150, :height=>150, :gravity=>"face",  :crop=>"thumb", class:"avatar-chats-mine" )%>
      <%end%>
    </div>
    <div class="what-their">
      <h2 class="theirs"><%=chatroom.created_at.to_date.strftime("%d/%m/%Y")%></h2>
      <%=link_to chatroom_path(chatroom) do %>
      <%= cl_image_tag(chatroom.trading_stuff.photos.first.key, :width=>150, :height=>150, :gravity=>"face",  :crop=>"thumb", class:"avatar-chats-their" )%>
      <%end%>
    </div>
</div>

  <% end %>

</div>
