  <div class="container-my-stuff">

    <% @my_stuffs.each do |stuff|%>
      <%= image_tag stuff.photos[0], class:"my-stuff"%>
    <%end %>
  </div>

  <div class="container-likes">
    <div class="their-stuff" style="background-image: url(<%= cl_image_path(@swap_stuff.photos.first.key)%>)"></div>
    <%=image_tag "like.png", id:"like-btn"%>
    <%=image_tag "dislike.png", id:"dislike-btn"%>
  </div>

  <div class="container-description">
    <div>
      <p class="their-title">available since</p>
      <p class="their-description"><%=@swap_stuff.created_at.to_date.strftime("%d/%m/%Y")%></p>
    </div>
    <div>
      <p class="their-title">?what is it</p>
      <p class="their-description"><%=@swap_stuff.name%></p>
    </div>
    <div>
      <p class="their-title">?how far is it</p>
      <p class="their-description">XXkm</p>
    </div>
    <div>
      <p class="their-title">details</p>
      <p class="their-description"><%=@swap_stuff.description%></p>

    </div>
  </div>
</div>


<!-- <div class="container"> -->
<!--   <div class="row"> -->
<!--     <div class="col-3"> -->
      <%#= simple_form_for @like do |f| %>
        <%#= f.input :stuff, as: :radio_buttons, collection: @my_stuffs %>
        <%#= f.input :trading_stuff, as: :hidden, input_html: { value: @swap_stuff.id } %>
        <%#= f.input :status, as: :radio_buttons, collection: [['like', true], ['dislike', false]]  %>
        <%#= f.button :submit, 'proximo', class: 'btn btn-success'%>
      <%# end %>
<!--     </div>
 -->
<!--     <div class="col-6"> -->
      <%#= cl_image_tag (@swap_stuff.photos.first.key) %>

<!--     </div> -->
<!--     <div class="col-3"> -->
<!--       <p> My stuff info </p> -->
      <%#= @swap_stuff.description %>