<div class="container-main" data-controller="like-button">

  <div class="container-my-stuff">
    <%= simple_form_for @like, html: { remote: true, data: { like_button_target: 'likeform'}} do |f| %>
      <%= f.input :stuff, as: :radio_buttons, collection: @my_stuffs %>
      <%= f.input :trading_stuff, as: :hidden, input_html: { value: @swap_stuff.id } %>
      <%= f.input :status, as: :radio_buttons, collection: [['like', true], ['dislike', false]] %>
      <%= f.button :submit, 'proximo', class: 'btn btn-success'%>
    <% end %>
  </div>

  <div class="container-likes">

    <% if @swap_stuff.photos.length > 1 %>
      <div class="their-stuff">
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <%@swap_stuff.photos.each_with_index do |photo, i|%>
                <div class="carousel-item <%= "active" if i==0 %>">
                  <%=cl_image_tag photo.key, class:"d-block w-100 altura-cont" %>
                </div>
              <%end%>
          </div>

          <div class="carousel-buttons">

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    <%else%>
    <div class="their-stuff" style="background-image: url(<%=cl_image_path(@swap_stuff.photos.first.key)%>)"></div>
    <%end%>
  </div>
    <div data-action="click->like-button#submitlike" ><%=image_tag "like.png", id:"like-btn"%></div>
    <div data-action="click->like-button#submitdislike" ><%=image_tag "dislike.png", id:"dislike-btn"%></div>
  </div>


  <div class="container-description">

    <div>
      <p class="their-title">available since</p>
      <p class="their-description"><%= @swap_stuff.created_at.strftime("%d/%m/%Y") %></p>
    </div>

    <div>
      <p class="their-title">?what is it</p>
      <p class="their-description"><%=@swap_stuff.name.downcase%></p>
    </div>

    <div>
      <p class="their-title">?how far is it</p>
      <p class="their-description"><%=@swap_stuff.user.range%>km</p>
    </div>

    <div>
      <p class="their-title">details</p>
      <p class="their-description"><%= @swap_stuff.description.capitalize %></p>
    </div>

    <div class="botoes">
        <%= link_to 'share', new_like_path, class:"botoes-azuis"%>
    </div>

  </div>

</div>
