<div class="container-main" data-controller="like-button">
  <div class="container-my-stuff">
    <%= simple_form_for @like, html: { remote: true, data: { like_button_target: 'likeform'}} do |f| %>
      <%= f.input :stuff, as: :radio_buttons, collection: @my_stuffs %>
      <%= f.input :trading_stuff, as: :hidden, input_html: { value: @swap_stuff.id } %>
      <%= f.input :status, as: :radio_buttons, collection: [['like', true], ['dislike', false]] %>
      <%= f.button :submit, 'proximo', class: 'btn btn-success'%>
    <% end %>
  </div>

  <div class="container-likes">
    <div class="their-stuff" style="background-image: url(<%=cl_image_path(@swap_stuff.photos.first.key)%>)"></div>
    <div data-action="click->like-button#submitlike" ><%=image_tag "like.png", id:"like-btn"%></div>
    <div data-action="click->like-button#submitdislike" ><%=image_tag "dislike.png", id:"dislike-btn"%></div>
  </div>


  <div class="container-description">

    <div>
      <p class="their-title">available since</p>
      <p class="their-description"><%= @swap_stuff.created_at.strftime("%d/%m/%Y") %></p>
    </div>

    <div>
      <p class="their-title">?what is it</p>
      <p class="their-description"><%=@swap_stuff.name.downcase%></p>
    </div>

    <div>
      <p class="their-title">?how far is it</p>
      <p class="their-description"><%=@swap_stuff.user.range%>km</p>
    </div>

    <div>
      <p class="their-title">details</p>
      <p class="their-description"><%= @swap_stuff.description.capitalize %></p>
    </div>

    <div class="botoes">
        <%= link_to 'share', new_like_path, class:"botoes-azuis"%>
    </div>
  </div>
</div>
