<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <div class="logo">
      <%= link_to "swap it", root_path, class: "navbar-brand"%>
      <%= link_to root_path, id: "erva_daninha" do %>
        <%= image_tag "seedling-solid-png.png" %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li id=hello>
            <p class="hello-user"><%= link_to "Hello " + current_user.name.titleize + ",", edit_user_registration_path, id:"hello-user" %></p>
            <p class="email-user"><%= link_to current_user.email , edit_user_registration_path, id:"email-user" %></p>
          </li>
          <li class="nav-item dropdown">

            <% if current_user.photo.attached?%>
              <%= cl_image_tag(current_user.photo.key, :width=>80, :height=>80, :gravity=>"face", "radius" => "50", :crop=>"thumb", class: "avatar dropdown-toggle", id: "navbarDropdown",  data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false)%>
            <% else %>
              <%= image_tag "https://www.leaguegaming.com/tpl/homepage/img/lg/empty_profile.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%end%>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <%= link_to "Action", "#", class: "dropdown-item" %>
              <%# <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "See my stuff", stuffs_path, class: "dropdown-item"%>
              <%= link_to "Add some stuff", new_stuff_path, class: "dropdown-item" %>
              <%= link_to "Edit User", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

            </div>


          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "sign in", new_user_session_path, class: "nav-link px-4" %>
          </li>
          <li class="nav-item">
            <p class= "nav-link px-4">|</p>
          </li>
          <li class="nav-item">
            <%= link_to "sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
