<!DOCTYPE html>
<html>
  <head>

    <title>SWAP IT 🌿</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Changing the World. Swap by Swap. Making a more sustainable planet for our children, shall we all swap our belongings instead of buying brand new ones?">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>


    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= yield %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' %>
    <script src="https://kit.fontawesome.com/812ec74016.js" crossorigin="anonymous"></script>
  </body>
</html>
